html{
    filter: invert(1)
}
body{
    max-width: 1200px;
}
.todo-list td {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}
.tr-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.td-item{
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}